/* General Styling */
body{
  background-color:#833737 ;
  font-family: "ByteBounce"; 
  margin: 0;
  overflow-x: hidden;
 }


@font-face {
  font-family: ByteBounce;
  src: url(fonts/ByteBounce.ttf);
}




/* NAVIGATION */
b{
  color:#91181a;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
  text-align: center;
}

a.PAGE{
color: #d65442;
}


a:hover{
  color: #d65442;
  cursor: grab;
}

/*NAVIGATION N BG STUFF*/

.MENU_WRAPPER {
  position: fixed;
  left: -20%;
  top: 60%;
  width: 60vw;
  transform: rotate(-10deg);
}

.LETTER_MENU, .SD_BG, .FILM_BG, .FOLDER_BG{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.LETTER_MENU {
  background-image: url("images/OPEN_LETTER.png");
  position: fixed;
  left: 25%;
  width: 50%;
  aspect-ratio: 1 / 1;
  transform: rotate(-5deg);
}

.NAV_TEXT{
  position: fixed;
  left: 8%;
  padding-top: 3%;
  width: 80%;
  font-size: 3vw;
  line-height: 1;
  text-align: center;
  align-items: center;
  transform: rotate(-5deg);
}

.FOLDER_BG{
  background-image: url("images/FOLDER.png");
  position: fixed;
  top: -40%;
  left: -65%;
  transform: rotate(-70deg);
  width: 100%;
  height: 100%;
}

.FILM_BG{
  background-image: url("images/FILM.png");
  position: fixed;
  top: 34%;
  left: 3%;
  transform: rotate(10deg);
  width: 20%;
  height: 20%;
}

.SD_BG{
  background-image: url("images/SD.png");
  position: fixed;
  top: 15%;
  left: 10%;
  transform: rotate(60deg);
  width: 12%;
  height: 12%;
}

/*letter flipping*/
.flippy{
  width: 65vh;
  height: 80%;
  top: 20%;
  left: 35%;
  position: absolute;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.4));
}

.flip-target{
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
}

.card {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
}

.flippy:hover .card {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.front{
   background-image: url("images/LETTER_BACK.png");

  }

.back {
  background-image: url("images/LETTER_FRONT.png");
  transform: rotateY(180deg);
}

/*BG STUFF*/

.SD{
  background-image: url("images/SD.png");
  position: fixed;
  top: 15%;
  left: 73%;
  transform: rotate(-50deg);
  width: 12%;
  height: 12%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.FILM{
  background-image: url("images/FILM.png");
  position: fixed;
  top: 60%;
  right: 80%;
  transform: rotate(-30deg);
  width: 20%;
  height: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.TAPE{
  background-image: url("images/TAPE.png");
  position: fixed;
  top: 75%;
  left: 80%;
  transform: rotate(10deg);
  width: 30%;
  height: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.FOLDER{
  background-image: url("images/FOLDERSHORT.png");
  position: fixed;
  align-items: center;
  bottom: 40%;
  left: -10%;
  transform: rotate(-7deg);
  width: 120%;
  height: 120%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Footer*/
footer{
  background-color: #f3eee9; 
  flex-direction: column;
  align-items: right;
  text-align: right;
  display: flex;
  padding: 20px;
  line-height: 20px;
  z-index: 2;
}

.footer {
  font-size: 20px;
}

.footerr{
  font-size: 20px;
  color: #d82a2d;
}

img{
  height: 30px;
  width: 20px;
}

img.phone{
  height: 25px;
  width: 15px;
}

img.logo:hover{
  transform: scale(1.25);
  transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

/* About */



.ABOUT{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 13%;
}


.ME, .ABOUTME{
 display: flex;
  gap: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ME{
  background-image: url("images/ME.png") ;
  transform: rotate(-5deg);
  width: 100%;
  height: 40vh;
  min-height: 200px ;
}

.ABOUTME{
  background-image: url("images/ABOUT.png");
  border-radius: 0.5px;
  transform: rotate(5deg);
  width: 80%;
  min-height: 120px ;
  height: 60vh;
}

.EXP{
  background-color: #f3eee9;
  width: 100vh;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
}

p.EXPTEXT{
  padding: 5%;
  font-size: 18px;
  font-family: Helvetica;
}

/* Contact Info */
.contact-form{
  width: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: clamp(20px, 2vw, 24px);
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-family: "ByteBounce";
  font-size: clamp(16px, 2vw, 24px)
}

.btn:hover {
  background-color:  #f8ce65;
  color: #d82a2d;
}

textarea, input {
  padding: 10px;
  border-radius: 6px;
  outline: none;
  width: 80%;
  margin: 0 auto;
  border: 2px ridge #1d1817;
  font-family: Helvetica;
}

input:hover , textarea:hover{
  border: #d65442;
  border-style: solid;
  color: #d65442;
}

textarea {
  min-height: 150px;
  resize: vertical;
}


.CONTACTPAGE{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-top: 0;
  padding: 10px;
  padding-left: 25%;
}

.CONTACTINFO{
  padding-top: 40%;
}

.CONTACT {
  background-color: #f3eee9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  min-height: 60vh;
  width: 60%;
  max-width: 60%;
  padding: 40px;
  margin: 5%;
}

.APPS, .CONTACTME{
 display: flex;
  gap: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

  .CONTACTME{
  background-image: url("images/CONTACTME.png") ;
  width: 100%;
  height: 40vh;
  max-height: 600px;
  position: relative;
  transform: rotate(-5deg);
}

.APPS{
  background-image: url("images/APPS.png");
  width: 100%;
  height: 40vh;
  max-height: 200px;
  position: relative;
  transform: rotate(5deg);
}

.PICS{
  width: 100%;
  display: flex;
  margin-bottom: 0;
  margin: 10%;

}

.hover:hover {
  transform: scale(1.05);
  transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


/* Socials */

.SOCIALS {
  position: fixed;
  top: 15%;
  left: 82%;
}

.social-nav {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-nav li.nav {
  list-style: none;
}

.social-nav li a {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 0 10px;
  display: flex;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
}




/* Icon */
.social-nav li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
}

.social-nav li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}


.social-nav li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d65442;
  transition: .5s;
}

.social-nav li a:hover::before {
  top: 0;
}

ul li:nth-child(1) a:before{
  background: #f8ce65;
}

ul li:nth-child(2) a:before{
  background: #d65442;
}

ul li:nth-child(3) a:before {
  background: #833737;
}

ul li:nth-child(4) a:before {
  background:  #262626;
}







/* Portfolio */

.TITLE{
  font-size: 120px;
  text-align: center;
  align-items: center;
  color: #f8ce65;
}

section.PORTFOLIO{
 background-color: #f3eee9;
  padding: 5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap:5px;
  max-width: 800px;
  margin: 5%;
  margin-left: 40%;
  margin-top: 10%;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}

.project .text {
  flex: 1;
}

.project .image {
  flex: 1;
}

.project img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.project video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project.maharlika,
.project.record,
.project.sod {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

mark.PORT{
 font-size: 70px;
 background-color: #f3eee9;
}

h2{
  font-size: clamp(50px, 1vw, 60px);
  margin: 0%;
}

p.h2{
  font-size: clamp(12px, 1vw, 16px);
  font-family: Helvetica;
}

.TITLE.style{
  color: #d65442;
  font-size: clamp(120px, 2vw, 120px);
}











/*TABLET MEDIA STUFFS*/
@media (max-width: 768px) {

html , body{
    overflow-x: hidden !important;
}
  

/*PHONE NAVIGATION*/
.NAV_TEXT{
  left: 7%;
  padding-top: 3%;
  font-size: 5vw;
  z-index: 99;
}

.MENU_WRAPPER {
  top: 75%;
  left: -40%;
  width: 100vw;
}

/*BG IMGS*/
.FILM_BG{
  top: 55%;
  left: 3%;
  width: 25%;
}

.SD_BG{
  top: 35%;
  left: 13%;
  width: 8%;
}

/*letter*/
.card {
  transform-style: preserve-3d;
  width: 80%;
  height: 80%;
  transition: transform 0.6s ease;
}

.front,
.back {
  width: 100%;
  height: 100%;
}

.flippy{
  top: 50%;
  left: 60%;
  width: 50vh;
  height: 60%;
  transform: translate(-50%, -50%);
}

/*CONTACT ME tablet*/
.PICS{
  flex-direction: column;
}

/*EXP*/

p.EXPTEXT{
  font-size: 16px;
  text-align: right;
}

.TITLE.style{
  color: #d65442;
  font-size: 90px;
}


}





/*PHONE MEDIA STUFFS*/
@media (max-width: 468px) {

html , body{
    overflow-x: hidden !important;
    margin: 0;
}
  
/*PHONE NAVIGATION*/
.NAV_TEXT{
  left: 7%;
  padding-top: 3%;
  font-size: 5vw;
}

.MENU_WRAPPER {
  top: 85%;
  left: -40%;
  width: 100vw;
}

/*BG IMGS*/
.FILM_BG{
  top: 55%;
  left: 3%;
  width: 25%;
}

.SD_BG{
  top: 35%;
  left: 13%;
  width: 8%;
}

/*letter*/
.front,
.back {
  width: 100%;
  height: 100%;
}

.flippy{
  top: 50%;
  left: 50%;
  width: 25vh;
  height: 40%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.card {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
}

.SD{
  top: 10%;
  left: 60%;
  transform: rotate(-50deg);
  width: 12%;
  height: 12%;
}

.FILM{
  top: 60%;
  right: 70%;
  transform: rotate(-30deg);
  width: 30%;
  height: 30%;
}

.TAPE{
  top: 70%;
  left: 60%;
  transform: rotate(10deg);
  width: 40%;
  height: 40%;
}

.FOLDER{
  bottom: 40%;
  left: -10%;
  transform: rotate(-7deg);
  width: 120%;
  height: 120%;
}

/*CONTACT ME tablet*/
.PICS{
  flex-direction: column;
}


.footer {
  font-size: 18px;
}

.footerr{
  font-size: 18px;
  color: #d82a2d;
}

/*EXP*/
.EXP{
  width: 40vh;
  height: 120vh;
  padding: 5%;
  margin-left: 0%;
  margin-bottom: 80vh;
}

p.EXPTEXT{
  font-size: 16px;
  text-align: right;
}


.TITLE.style{
  font-size: 40px;
}

.ABOUT{
  flex-direction: column;
  overflow-x: hidden !important;
}

.ME{
  width: 90%;
}

.ABOUTME{
  width: 80%;
  height: 50vh;
  margin-left: 1%;
}

h2{
  font-size: clamp(30px, 1vw, 60px);
  margin: 0%;
}

p.h2{
  font-size: clamp(10px, 1vw, 10px);
  font-family: Helvetica;
}

section.PORTFOLIO{
  margin-left: 10%;
}


}


