/* General Styling */
body{
  background-color:#833737 ;
  font-family: "ByteBounce"; 
}

//stop horizontal overflow

body {
 overflow-x:hidden;
 overflow-y:visible;
}

@media screen and (max-width:640px) {
 .Site {
  overflow-x:hidden;
  overflow-y:visible;
 }

}
@font-face {
  font-family: ByteBounce;
  src: url(fonts/ByteBounce.ttf);
}

/* NAVIGATION */
ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
  text-align: center;
}

a.PAGE{
color: #d65442;
}


a:hover{
  color: #d65442;
  cursor: grab;
}

/*wrappers*/

.MENU_WRAPPER {
  position: fixed;
  left: -20%;
  top: 60%;
  width: 60vw;
  transform: rotate(-10deg);
  z-index: 9999;
}

.LETTER_MENU {
  background-image: url("images/OPEN_LETTER.png");
  position: fixed;
  left: 25%;
  width: 50%;
  aspect-ratio: 1 / 1;
  transform: rotate(-5deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.NAV_TEXT{
  position: fixed;
  left: 8%;
  padding-top: 3%;
  width: 80%;
  font-size: 3vw;
  line-height: 1;
  text-align: center;
  align-items: center;
  transform: rotate(-5deg);
}

.FOLDER_BG{
  background-image: url("images/FOLDER.png");
  position: fixed;
  top: -40%;
  left: -65%;
  transform: rotate(-70deg);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.FILM_BG{
  background-image: url("images/FILM.png");
  position: fixed;
  top: 34%;
  left: 3%;
  transform: rotate(10deg);
  width: 20%;
  height: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.SD_BG{
  background-image: url("images/SD.png");
  position: fixed;
  top: 15%;
  left: 10%;
  transform: rotate(60deg);
  width: 12%;
  height: 12%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



/* Home */

.letter {
  background-image: url("images/LETTER_BACK.png");
  position: fixed;
  top: 30.5%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 43.5%;
  height: 43.5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(15deg);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.letter:hover {
  background-image: url("images/LETTER_FRONT.png");
  position: fixed;
  top: 54.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.SD{
  background-image: url("images/SD.png");
  position: fixed;
  top: 15%;
  left: 73%;
  transform: rotate(-50deg);
  width: 12%;
  height: 12%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.FILM{
  background-image: url("images/FILM.png");
  position: fixed;
  top: 60%;
  right: 80%;
  transform: rotate(-30deg);
  width: 20%;
  height: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.TAPE{
  background-image: url("images/TAPE.png");
  position: fixed;
  top: 75%;
  left: 80%;
  transform: rotate(10deg);
  width: 30%;
  height: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.FOLDER{
  background-image: url("images/FOLDERSHORT.png");
  position: fixed;
  align-items: center;
  bottom: 40%;
  left: -10%;
  transform: rotate(-7deg);
  width: 120%;
  height: 120%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}





/* About */
.container {
  width: 100%;
}


.ABOUT{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  padding-left: 25%;
}

.ME, .ABOUTME{
 display: flex;
  gap: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

  .ME{
  background-image: url("images/ME.png") ;
  transform: rotate(-5deg);
  width: 60%;
  height: 600px;
}

.ABOUTME{
  background-image: url("images/ABOUT.png");
  transform: rotate(5deg);
  width: 40%;
  height: 600px;
}




/* Contact Info */
.contact-form{
  width: 600px;
  border-radius: 10px;
}

.btn {
  padding: 10px 40px;
  border-radius: 6px;
  font-family: "ByteBounce";
  font-size: 30px;
}

.btn:hover {
  background-color:  #f8ce65;
  color: #d82a2d;
}

textarea, input {
  padding: 10px 10px;
  border-radius: 6px;
  outline: none;
  width: 500px;
  text-align: left;
  border: #1d1817;
  border-style:ridge;
  font-family:monospace;
  font-size: 20px;
}

input {
  height: 25px;
}

input:hover , textarea:hover{
border: #d65442;
border-style: solid;
color: #d65442;
}

textarea {
  height: 240px;
}

form {
  font-size: 40px;
  line-height: 33px;
}

.CONTACTPAGE{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  padding: 100px;
  padding-top: 150px;
  padding-left: 25%;
}

.CONTACTINFO{
  padding-top: 40%;
}

.APPS, .CONTACTME{
 display: flex;
  gap: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

  .CONTACTME{
  background-image: url("images/CONTACTME.png") ;
  transform: rotate(-5deg);
  width: 60%;
  height: 600px;
}

.APPS{
  background-image: url("images/APPS.png");
  transform: rotate(5deg);
  width: 40%;
  height: 600px;
}


.CONTACT {
  background-color: #f3eee9;
  display: inline-block;
  position: relative;
  border-radius: 0.25em;
  display: flex;
  padding: 80px;
  font-size: 40px;
  line-height: 40px;
  overflow-x: hidden;
  margin: 5%;
  margin-left: 10%;
  width: 80vh;





}



/* Socials */

.SOCIALS {
  position: fixed;
  top: 15%;
  left: 82%;
}

.social-nav {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-nav li.nav {
  list-style: none;
}

.social-nav li a {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 0 10px;
  display: flex;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
}




/* Icon */
.social-nav li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
}

.social-nav li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}


.social-nav li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d65442;
  transition: .5s;
}

.social-nav li a:hover::before {
  top: 0;
}

ul li:nth-child(1) a:before{
  background: #f8ce65;
}

ul li:nth-child(2) a:before{
  background: #d65442;
}

ul li:nth-child(3) a:before {
  background: #833737;
}

ul li:nth-child(4) a:before {
  background:  #262626;
}







/* Portfolio */

.TITLE{
  position: absolute;
  font-size: 120px;
  top: 4%;
  left: 63%;
  transform: translateX(-50%);
  color: #f8ce65;
}

section.PORTFOLIO{
  background-color: #f3eee9;
  position: absolute;
  top: 15%;  
  right: 3%;
  border-radius: 10px;
  display: inline-block;
  padding: 80px;
  font-size: 40px;
  line-height: 40px;
  margin: 20px;
  width: 1090px;
  height: 2900px;
}

.SOD{
  position: absolute;
  top: 15%;
  left: 5%;
}

.SOD_ART{
  background-image: url("images/SOD_ART.png");
  position: absolute;
  width: 477.5px;
  height: 526.75px; 
  background-size: cover;
  top: 2%;
  left: 55%;
}

mark.PORT{
 font-size: 70px;
 background-color: #f3eee9;
}





/* Maharlika */

.MAHARLIKA{
  position: absolute;
  top: 20%;
  left: 6.5%;
}

.MAHARLIKA_IMG{
  background-image: url("images/MAHARLIKA.png");
  position: absolute;
  width: 1025.6px;
  height: 698px;
  background-size: cover;
  top: 23%;
  left: 9%;
}

.MAHA{
  position: absolute;
  top: 35.25%;
  left: 34.5%;
}

.MAHAR{
  position: absolute;
  top: 46%;
  left: 39%;
}





/* Taskly */

.TASKLY{
  position: absolute;
  top: 50%;
  left: 6.5%;
}

.TASKLY_IMG{
  background-image: url("images/TASKLY.png");
  position: absolute;
  width: 1144px;
  height: 639px;
  background-size: cover;
  top: 52%;
  left: 5%;
}





/* Record Store */

.RECORD{
  position: absolute;
  top: 75%;
  left: 6.5%;
}

.RECORD_IMG{
  background-image: url("images/RECORD.png");
  position: absolute;
  width: 1144px;
  height: 639px;
  background-size: cover;
  top: 77%;
  left: 5%;
}





/* Page Sizes */
body.HOME{
  height: 2300px;
}

body.PORTFOLIO{
  height: 3300px;
}

body.ABOUT{
  width: 100%;
}


/*PHONE MEDIA STUFFS*/
@media (max-width: 768px) {

  html {
    overflow: hidden;
  }
  
.ABOUT{
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: 0px;
}

.ME, .ABOUTME{
 display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

  .ME{
  background-image: url("images/ME.png") ;
  transform: rotate(-5deg);
  width: 90%;
  height: 300px;
}

.ABOUTME{
  background-image: url("images/ABOUT.png");
  transform: rotate(5deg);
  width: 90%;
  height: 550px;
  margin-left: 10%;
}


/*PHONE NAVIGATION*/
.NAV_TEXT{
  left: 7%;
  padding-top: 3%;
  font-size: 5vw;
}

.MENU_WRAPPER {
  top: 75%;
  left: -40%;
  width: 100vw;
}

/*BG IMGS*/
.FILM_BG{
  top: 55%;
  left: 3%;
  width: 25%;
}

.SD_BG{
  top: 35%;
  left: 13%;
  width: 8%;
}

.letter {
  width: 60.5%;
  height: 60.5%;
  top: 25%;
  left: 25%;
}

.letter:hover {
  top: 60.5%;
  left: 60.5%;
  width: 60.5%;
  height: 60.5%;
}


}